/*Styling for the flexbox for the webpage*/
.row {
  display : flex;
}
.column {
  flex : 100%;
}
.column2 {
	flex : 20%;
	margin : 2%
}
/*Styling for the navigation bar*/
#navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1%;

  text-decoration: none;
  font-size: 100%;
}
.navbar-right {
	float : right;
}
.content {
  padding: 30px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 150px;
}
/*general styling*/
header {
  width: 100%;
}
html {
  background-color: lightgrey;
  max-width: 99%;
}
footer {
  text-align: center;
  width:  100%;
  background-color: grey;
  padding : 5px 5px;
}
section {
  height: 100vh;
}
/*Styling for unsorted lists*/
section ul#mainList {
  list-style-type: none; 
  padding-left: 0px;
}
section ul li#big {
  font-size: 20px;
}
section ul li#med {
  font-size : 16px;
}
section ul li#small {
  font-size:  14px;
}
ul#basic {
  list-style-type: square;
}
/*Styling for the individual sections*/
section#education {
	padding-top: 6%;
}
section#workexperience {
	padding-top: 5%;
}
section#contactme {
	padding-top: 5%;
}
section#projects {
	padding-top: 5%;
}
/*Styling for project box*/
.box {
	width:  75%;
	height : 75%;
	background-color: grey;
	border-radius: 25px;
	z-index: 0;
	
}
/*Temp Styling for the design of the webpage*/
h1.home {
	font-size: 350%;
}
h1.abtme {
	font-size: 320%;
	margin-bottom: 0;
}
section#home p {
	font-size: 300%;
	padding-top: 0;
}
div.column2 a {
	font-style: normal;
}