.row {
  display : flex;
}

.column {
  flex : 100%;
}
header ul {
  list-style-type: none;
  margin : 0;
  padding : 0;
  overflow: hidden;
  width : 100%;
  background-color: black;
}
header ul li {
  float:  right;
}
ul li a {
  display : block;
  padding: 14px 16px;
  color : white;
  text-decoration: none;
  text-align: center;
}
ul li a:hover {
  background-color: grey;
}
header {
  width: 100%;
}
html {
  background-color: lightgrey;
}
footer {
  text-align: center;
  width:  100%;
  background-color: grey;
  padding : 5px 5px;
}
section#education ul {
  list-style-type: none; 
  padding-left: 0px;
}
section#education ul li#big {
  font-size: 20px;
}
section#education ul li#med {
  font-size : 16px;
}
section#education ul li#small {
  font-size:  12px;
}